<label class="fa-2x" style="position:absolute;z-index:999;color:white;left:20px;">Update Task</label>
<%= render 'form' %>

<div class="container">
  <%= link_to <button type="button" class="btn btn-primary fa fa-chevron-left fa-2x"></button> todos_path %>
    <button type="button" class="btn btn-primary fa fa-check fa-2x"><%= link_to 'Show', @todo %></button>
</div>
