<label class="fa-2x" style="position:absolute;top:19px;z-index:999;color:white;left:20px;">Update Task</label>
<%= render 'form' %>

<div class="container">
  <button type="button" class="btn btn-primary fa fa-chevron-left fa-2x"><%= link_to 'Back', todos_path %></button>
    <button type="button" class="btn btn-primary fa fa-check fa-2x"><%= link_to 'Show', @todo %></button>
</div>
