<label class="fa-2x" 
       style="position:absolute;z-index:999;left:20px;top:10px;">Update Task
</label>
<%= render 'form' %>

<div class="container">
  <a href="<%= todos_path %>"> <button type="button" class="btn btn-primary fa fa-chevron-left fa-2x">
    Back
  </button>
   </a>
    <a href="<%= link_to 'Show', @todo %>"><%= link_to 'Show', @todo %> <button type="button" class="btn btn-primary fa fa-check fa-2x">
   </button>
  </a>
  </div>
