<label style="position:absolute;top:19px;z-index:999;color:white;left:20px;">Submit Task</label>
<%= render 'form' %>

<div class="container">
  <a href="<%= todos_path %>"> 
    <div class="btn btn-primary fa fa-chevron-left fa-2x">
    Back
  </div>
   </a>
</div>
