<label class="fa-2x"  style="position:absolute;z-index:999;left:20px;top:13px;color:white;">
  Submit Task
</label>
<%= render 'form' %>

<div class="container">
  <a href="<%= todos_path %>"> 
    <div class="btn btn-primary fa fa-chevron-left fa-2x">
      <div class="good_font">Back</div>
  </div>
   </a>
</div>
<script>
  $(document).ready(function(){
    $('.field input').first().focus()
  });
</script>