<!DOCTYPE html>
<html>
<head>
  <title>TODOify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta charset="utf-8" />
<meta http-equiv="Expires" content="-1" />
<meta http-equiv="Pragma" content="no-cache"/>
<meta name="viewport" content="width=device-width" />
</head>
<body>
<div id="wrapper">
	<div id="content">	
<%= yield %>
	</div>
</div>
  <footer>TODOify author Shannon Huff 781.816.7581</footer>
</body>
</html>
